<form novalidate [formGroup]="cardForm" (ngSubmit)="submit(cardForm)">

  <ion-header>
    <ion-toolbar>
      <ion-buttons slot="start">
      <ion-button type="color" color="primary" [disabled]="!cardForm.valid">
          Save
        </ion-button>
      </ion-buttons>
      <ion-buttons slot="end">
        <ion-button type="color" color="danger">
          <ion-icon name="close"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>

  <input type="hidden" formControlName="id">

  <ion-item no-padding>
    <ion-label position="stacked">Title:</ion-label>
    <ion-textarea autosize formControlName="title">
    </ion-textarea>
  </ion-item>
  <ion-text color="danger">
    <ng-container *ngFor="let validation of validation_messages.title">
      <div class="error-message"
        *ngIf="cardForm.get('title').hasError(validation.type)">
        {{ validation.message }}
      </div>
    </ng-container>
  </ion-text>

  <ion-item no-padding>
    <ion-label position="stacked">Description:</ion-label>
    <ion-textarea autosize formControlName="description">
    </ion-textarea>
  </ion-item>
  <ion-text color="danger">
    <ng-container *ngFor="let validation of validation_messages.description">
      <div class="error-message"
        *ngIf="cardForm.get('description').hasError(validation.type)">
        {{ validation.message }}
      </div>
    </ng-container>
  </ion-text>

  <ion-item no-padding>
    <ion-label position="stacked">State:</ion-label>
    <ion-select interface="action-sheet" formControlName="state">
      <ion-select-option value="todo">Todo</ion-select-option>
      <ion-select-option value="in-progress">In Progress
      </ion-select-option>
      <ion-select-option value="complete">Complete</ion-select-option>
    </ion-select>
  </ion-item>

</form>