  <ion-header no-border>
    <ion-toolbar>
      <ion-buttons slot="end">
        <ion-button (click)="dismiss()">
          <ion-icon name="close"></ion-icon>
        </ion-button>
      </ion-buttons>
    </ion-toolbar>
  </ion-header>

  <ion-content *ngIf="card">
    <ion-select id="field-state" (ionBlur)="updateCardByTarget($event)"
      value={{card.state}} interface="action-sheet">
      <ion-select-option value="todo">Todo</ion-select-option>
      <ion-select-option value="in-progress">In Progress
      </ion-select-option>
      <ion-select-option value="complete">Complete</ion-select-option>
    </ion-select>

    <ion-card>
      <ion-card-header>
        <ion-card-title>
          <ion-textarea autoGrow id="field-title" (ionBlur)="save($event)"
            value="{{card.title}}">
          </ion-textarea>
        </ion-card-title>
      </ion-card-header>

      <ion-card-content>
        <ion-textarea autoGrow id="field-description" (ionBlur)="save($event)"
          value="{{card.description}}">
        </ion-textarea>
      </ion-card-content>
    </ion-card>
  </ion-content>