<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Kanban</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="newCard()">
        <ion-icon name="add-circle-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-slides
    [options]="{slidesPerView: 1.5, centeredSlides: true, slidesPerView: 'auto'}">

    <ion-slide>
      <div *ngIf="cardsTodo$ | async as cardsTodo">
        <h1>Todo</h1>
        <ion-list lines="none">
          <ion-item *ngFor="let card of cardsTodo">
            <app-kanban-card [card]="card"></app-kanban-card>
          </ion-item>
        </ion-list>
      </div>
    </ion-slide>


    <ion-slide>
      <div *ngIf="cardsInProgress$ | async as cardsInProgress">
        <h1>In Progress</h1>
        <ion-list lines="none">
          <ion-item *ngFor="let card of cardsInProgress">
            <app-kanban-card [card]="card"></app-kanban-card>
          </ion-item>
        </ion-list>
      </div>
    </ion-slide>


    <ion-slide>
      <div *ngIf="cardsComplete$ | async as cardsComplete">
        <h1>Complete</h1>
        <ion-list lines="none">
          <ion-item *ngFor="let card of cardsComplete">
            <app-kanban-card [card]="card"></app-kanban-card>
          </ion-item>
        </ion-list>
      </div>
    </ion-slide>

  </ion-slides>


</ion-content>