<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Kanban</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-slides [options]="{slidesPerView: 1.1, centeredSlides: true}">

    <ion-slide>
      <div>
        <h1>Todo</h1>
        <ion-list lines="none">
          <ion-item *ngFor="let cardT of cardsTodo">
            <app-kanban-card [card]="cardT"></app-kanban-card>
          </ion-item>
        </ion-list>
      </div>
    </ion-slide>


    <ion-slide>
      <div>
        <h1>In Progress</h1>
        <ion-list lines="none">
          <ion-item *ngFor="let cardIP of cardsInProgress">
            <app-kanban-card [card]="cardIP"></app-kanban-card>
          </ion-item>
        </ion-list>
      </div>
    </ion-slide>


    <ion-slide>
      <div>
        <h1>Complete</h1>
        <ion-list lines="none">
          <ion-item *ngFor="let cardC of cardsComplete">
            <app-kanban-card [card]="cardC"></app-kanban-card>
          </ion-item>
        </ion-list>
      </div>
    </ion-slide>

  </ion-slides>


</ion-content>